.container {
	margin-left: auto;
	margin-right: auto;
	width: 650px;
}

.main_div {
	height: auto;
	margin-top: 100px;
	border-color: #808080;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	padding: 30px;
	position: relative;
}

.form_p {
	margin-bottom: 10px;
	clear: both;
	margin: 15px 0;
	height: 25px;
}

.field_name {
	width: 120px;
	float: left;
}

.field {
	float: left;
	width: 300px;
}

#reg {
	text-align: center;
	font-size: 24px;
}

#pre_p {
	font-size: 16px;
	text-align: center;
}

#reg_form {
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	margin-top: 10px;
}